.menu-title img {
    vertical-align: bottom;
}

#sidebar-toggle-anchor:checked .page-wrapper {
    margin-inline-start: calc(
        var(--sidebar-width) + var(--sidebar-resize-indicator-width)
    );
}

/* Rounded corners for code blocks */
code {
    border-radius: 8px;
}

/* Improves contrast in codeblocks for Navy and Light themes */
.navy .hljs {
    background-color: #252839;
}

.light .hljs {
    background-color: #f1f6f9;
}

/* Fixes scrollbars background color */
html {
    scrollbar-color: var(--theme-popup-border) transparent;
}
